
body {
  overflow-x: hidden;
}

.main-view {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 300px;
  bottom: 100px;
  margin-bottom: -150px;
}

.also-viewed-img {
  width:  165px;
  height: 165px;
  object-fit: contain;
}

.title {
  font-family: 'Mukta', sans-serif;
  color: rgba(12, 11, 8, .75);
  font-size: 22px;
  letter-spacing: -.016rem;
  position: relative;
  top: 30px;
  left: 0px;
  line-height: 2.6rem;
}

.fa-long-arrow-right, .fa-long-arrow-left {
  font-size: 13.5px;
  color: rgba(94, 92, 92, 0.892);
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 7px;
  margin-bottom: 36px;
}

.fa-star-half-alt, .fa-star {
  font-size: 0.73em;
  color: rgba(245, 196, 111, 0.92);
  margin-left: 1px;
  margin-right: 1px;
}

.item-name {
  font-family: 'Lato', sans-serif;
  font-style: bold;
  color: rgba(82, 80, 80, 0.9);
  font-size: 17px;
}

.item-brand {
  font-family: 'Noto Sans', sans-serif;
  color: rgba(108, 105, 105, 0.85);
  font-size: 0.7em;
  margin-bottom: 2px;
}

.item-price {
  font-family: 'Lato', sans-serif;
  color: rgba(99, 96, 96, 0.85);
  font-size: 13px;
}

.item-sale-discount {
  font-family: 'Lato', sans-serif;
  color: rgba(244, 42, 42, 0.954);
  font-size: 13px;
  margin-right: 4px;
}

.item-sale-price {
  font-family: 'Lato', sans-serif;
  color: rgba(85, 83, 83, 0.85);
  font-size: 13px;
  text-decoration: line-through;
  text-decoration-color: black;
}


.item-rating-count {
  font-family: 'Lato', sans-serif;
  color: rgba(111, 109, 109, 0.954);
  font-size: 12.5px;
  margin-left: 3px;
}

.item-brand:hover, .item-name:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.9);
}

.hidden-view, .hidden-bought {
  border-radius: 50%;
  height: 40px;
  bottom: initial;
  background: #f9f8f6;
  box-shadow: 0 0.6rem 0.6rem 0 rgba(12,11,8,.08);
  border: solid 2px rgba(38, 159, 252, 0.461);
  outline: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1000ms, opacity 1000ms linear;
}

.button-view, .button-bought {
  border-radius: 50%;
  height: 40px;
  bottom: initial;
  background: #f9f8f6;
  box-shadow: 0 0.6rem 0.6rem 0 rgba(12,11,8,.08);
  border: none;
  outline: none;
}

.button-view:hover, .button-bought:hover {
  border-radius: 50%;
  height: 40px;
  bottom: initial;
  background: #f9f8f6;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(12,11,8,.2);
  border: none;
  outline: none;
}
